/*

!.gitignore
!.tmux.conf

!alacritty/
alacritty/*
!alacritty/alacritty.yml

!picom/
!ranger/
ranger/colorschemes
ranger/plugins

!bspwm

!fish
fish/*
!fish/config.fish

# hypr
# kitty

!nvim
nvim/*.json

# octave
# okular.kmessagebox
# okularpartrc
# okularrc
# omf
# oomox
# pavucontrol.ini
# pcmanfm
# picom
# PlotJuggler
# polybar
# pulse
# qt5ct
# qt6ct
# QtProject
# QtProject.conf
# ranger
# starship.toml
# sway
# sxhkd
# systemd
# teams
# tg
# thefuck
# tixeoclient
# Unknown Organization
# VirtualBox
# vlc
# waybar
# wezterm
# whatsapp-nativefier-d40211
# wireshark
# xournalpp
# yay
# zathura
# zoom.conf
# zoomus.conf
# zsh
