/*

!.gitignore
!.tmux.conf

!alacritty/
alacritty/*
!alacritty/alacritty.yml


!bspwm

!conky
conky/todo.md

!fish
fish/*
!fish/config.fish

# hypr
# kitty

!nvim
nvim/*.json

!picom/

!polybar
!qtile
qtile/__pycache__

!ranger/
ranger/colorschemes
ranger/plugins

!sway
!sxhkd
!starship.toml

# waybar
!wezterm

!zathura
# zsh
