/*

!.gitignore
!.tmux.conf
!.vimrc

!alacritty/
alacritty/*
!alacritty/alacritty.yml


!bspwm

!coc
extensions/
memos.json

!conky
conky/todo.md

!fish
fish/*
!fish/config.fish

!foot

!fuzzel

!hypr

!kitty

!nvim
nvim/*.json

!picom/

!polybar
!qtile
qtile/__pycache__

!ranger/
ranger/colorschemes
ranger/plugins

!sway

!sxhkd
!starship.toml

# waybar
!wezterm

!zathura
# zsh
